@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --main-color: #000000;
    --secundary-color: #F6F6F6;
    --third-color: #22D4FD;
    --hover-color: #272727;
    
    --first-font: 'Krona One', sans-serif;
    --second-font: 'Montserrat', sans-serif;
}

/* reset html */
*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--secundary-color);
}

/* classes html */
.header {
    padding: 2% 0% 0% 15%;    
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--third-color);
    text-decoration: none;
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title {
    font-size: 36px;
    font-family: var(--first-font);
}

.title-highlight {
    color: var(--third-color);
}

.presentation__content__text {
    font-size: 24px;
    font-family: var(--second-font);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.presentation__links__subtitle{
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 24px;
}

.presentation__links__link {
    display: flex;    
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--third-color);
    width: 370px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--secundary-color);
    font-family: var(--second-font);
}

.presentation__links__link:hover{
    background-color: var(--hover-color);
}

.footer {
    padding: 24px;
    color: var(--main-color);
    background-color: var(--third-color);
    text-align: center;
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 400;
}